// Specific CSS for your home-page
.pages-home {
  text-align: center;
  display: flex;
  align-items: center;

  .logo {
    width: 250px;
  }

  h1 a {
    font-size: 100px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
  }
}
