<div class="background-icons">
  <% (1..10).to_a.each do |i| %>
    <div class="triangle triangle-<%= i %>"></div>
  <% end %>
  <% (1..10).to_a.each do |i| %>
    <div class="circle circle-<%= i %>"></div>
  <% end %>
</div>
