<div class="background-icons">
  <% 1.upto(10) do |i| %>
    <div class="triangle triangle-<%= i %>"></div>
  <% end %>
  <% 1.upto(10) do |i| %>
    <div class="circle circle-<%= i %>"></div>
  <% end %>
</div>
