<div class="container">
  <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "logo" %>
  <h1>Prl<span class="animate__animated animate__flash animate__infinite infinite">_</span></h1>
</div>

