<div class="container">
  <h1>
    <%= link_to commits_path, class: "" do %>
      <%= image_tag("logo.png", alt: "Le Wagon", class: "logo") %>
      <div>
        Prl<span class="animate__animated animate__flash animate__infinite infinite">_</span>
      </div>
    <% end %>
  </h1>
</div>
